.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    padding: 14px 80px 18px 36px;
    margin: 0 auto;
    float: none;
    display: flex;
}

html, body, #root, #app, #app>div {
  height: 100%
}
